@page
@model BudgetTRacker.Pages.CategoryModel
@{
    ViewData["Title"] = "Categories";
}

<div class="categories">
    <div class="categories-header">
        <h4>Categories</h4>
        <div class="header-buttons">
            <form method="post" asp-page-handler="DeleteSelected" class="inline-form">
                <button type="submit" class="btn-delete">
                    <i class="fa fa-trash"></i> 
                </button>
            </form>
            <a asp-page="/AddCategory">
                <i class="fa fa-plus"></i> 
            </a>
        </div>
    </div>

    @if (Model.Category.Any())
    {
        <form method="post" asp-page-handler="DeleteSelected">
            @foreach (var category in Model.Category)
            {
                <div class="category-item">
                    <input type="checkbox" name="selectedCategories" value="@category.CategoryId" class="category-checkbox" />
                    <div class="icon-container default-icon">
                        <i class="fa fa-folder"></i>
                    </div>
                    <span>@category.CategoryName</span>
                    <span class="amount">Rs. @category.CategoryLimit</span>
                </div>
            }
            <button type="submit" class="btn-delete">
                <i class="fa fa-trash"></i> Delete Selected
            </button>
        </form>
    }
    else
    {
        <p>No categories available. Add a new category to get started.</p>
    }
</div>
