@page
@model BudgetTRacker.Pages.CategoryModel
@{
    ViewData["Title"] = "Categories";
}

<div class="categories">
    <div class="categories-header">
        <h4>Categories</h4>
        <div class="header-buttons">
     
            <a asp-page="/AddCategory" class="btn-add">
                <i class="fa fa-plus"></i> Add Category
            </a>
        </div>
    </div>


    @if (Model.CategoryExpenditureslist.Any())
    {
        <form method="post" asp-page-handler="DeleteSelected">
            <table class="category-table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Category Name</th>
                        <th>Current Transaction</th>
                        <th>Transaction Limit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.CategoryExpenditureslist)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="SelectedCategories" value="@category.CategoryName" class="category-checkbox" />
                            </td>
                            <td>@category.CategoryName</td>
                            <td>Rs. @category.TotalAmount</td>
                           @*  <td>Rs. @category.limit</td> *@
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    }
</div>
