@page
@model BudgetTRacker.Pages.SignInModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Rupiya</title>

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-left">
                <div class="login-header">
                    <div class="avatar"></div>
                    <h2>Welcome to Rupiya...</h2>
                </div>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Username" required>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" required>
                        <span class="show-password">👁</span>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox"> Remember Me</label>
                        <a href="#">Forgot Password</a>
                    </div>
                    <div class="btn-container">
                        <button type="submit" class="btn-primary">Continue</button>
                        <p>OR</p>
                        <button class="btn-google"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="Google"> C<span class="lowercase">ontinue</span> with Google</button>
                    </div>
                </form>
                <div class="signup">
                    <p>Don't have an account? <a href="#">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

