@page
@model TransactionModel
@{
    ViewData["Title"] = "Transactions";

}




<div class="balance-section">
    <div class="total-balance">
        <h3>Your Total Balance</h3>
        <p>Rs. 8000.00</p>
    </div>

    <div class="bank-cards-carousel">
        <div class="bank-cards">
            <div class="card">
                <h4>Savings Account</h4>
                <p>Rs. 5000.00</p>
            </div>
            <div class="card">
                <h4>Checking Account</h4>
                <p>Rs. 3000.00</p>
            </div>
        </div>
    </div>
</div>

<div class="transaction">
    <div class="transaction-header">
        <h3>Recent Transactions</h3>
        <button class="btn-new-transaction">+ Add Transaction</button>
    </div>

    <div class="transaction-item">
        <div class="icon-container">
            <i class="fa-solid fa-shopping-cart"></i>
        </div>
        <span>Groceries</span>
        <span class="amount">- Rs. 1000.00</span>
    </div>

    <div class="transaction-item">
        <div class="icon-container">
            <i class="fa-solid fa-bus"></i>
        </div>
        <span>Transport</span>
        <span class="amount">- Rs. 500.00</span>
    </div>
</div>

<div class="pagination-dots">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</div>

